<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following_" class="stat">
      <%= @following_users %>
    </strong>
    FOLLOWING
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @follower_users %>
    </strong>
    FOLLOWERS
  </a>
</div>